useDynLib(iotools, mat_split)
useDynLib(iotools, df_split)
useDynLib(iotools, df_split_fw)
useDynLib(iotools, create_chunk_reader)
useDynLib(iotools, chunk_read)
useDynLib(iotools, ctapply_)
useDynLib(iotools, chunk_apply)
useDynLib(iotools, chunk_tapply)
useDynLib(iotools, pass)
useDynLib(iotools, which_min_key)
useDynLib(iotools, as_output_dataframe)
useDynLib(iotools, as_output_matrix)
useDynLib(iotools, as_output_vector)
useDynLib(iotools, as_output_raw)
useDynLib(iotools, stdout_writeBin)
useDynLib(iotools, C_rbind)

export(mstrsplit)
export(dstrsplit)
export(dstrfw)
export(input.file)
export(output.file)
export(.default.formatter)
export(chunk.reader)
export(read.chunk)
export(ctapply)
export(chunk.apply)
export(chunk.tapply)
export(which.min.key)
export(line.merge)
export(as.output)
export(as.output.default)
export(as.output.data.frame)
export(as.output.raw)
export(as.output.table)
export(as.output.matrix)
export(as.output.list)
export(chunk.map)
export(idstrsplit)
export(imstrsplit)
export(readAsRaw)
export(read.csv.raw)
export(read.delim.raw)
export(write.csv.raw)
export(write.table.raw)
export(fdrbind)

export(iotools.stdout)
export(iotools.stderr)
export(iotools.fd)

importFrom(methods, as)
importFrom(utils, type.convert)

S3method(as.output, data.frame)
S3method(as.output, default)
S3method(as.output, list)
S3method(as.output, matrix)
S3method(as.output, table)
S3method(as.output, raw)
