useDynLib(iotools, stdin_read, mat_split, mat_split_numeric, create_chunk_reader, chunk_read, ctapply_, C_setuser, C_setTempDir, chunk_apply, chunk_tapply, pass, which_min_key)
export(readSTDIN, mstrsplit, chunk.reader, read.chunk, hmr, hpath, hinput, c.hinput, ctapply, set.user, set.tempdir, chunk.apply, chunk.tapply, which.min.key, line.merge)